div {
  box-sizing: border-box;
}

.menuToggle {
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}
.menuToggle input{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

.menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #232323;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

.menuToggle span:first-child {
  transform-origin: 0% 0%;
}

.menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

.menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

.menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

.menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

.menu li {
  padding: 10px 0;
  font-size: 22px;
}
.menuToggle a:hover {
  columns: tomato;
}

.menuToggle input:checked ~ ul {
  transform: none;
}

/* nav 끝 */

.postMenu {
  padding: 20px;
  background: #d0d5d9;
}
.postMenu button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.postList {
  background: aliceblue;
  width: 50%;
  margin: auto;
}

.postList h4{
  padding-left: 30px;
  padding-top: 20px;
  margin-bottom: -20px;
}

.postList {
  margin-top: 50%;
}

.postList p {
  padding: 30px;
  border-bottom: 1px solid #333;
}

.postLike {
  float: right;
  margin-right: 1.5em;
  border-radius:0.1em;
  padding:0.3em 0.5em 0.3em 1.8em;
  border:0px none;
  color:#3B5998;
  position:relative;
  display:block;
  transition:all 0.3s ease-in-out;
  box-shadow:0 0.01em 0.01em rgba(0,0,0,0.3), 0 0.01em 0.01em rgba(0,0,0,0.1) inset;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.postLike:before, .postLike:after {
  content:'';
  position:absolute;
  display:block;
  background-color:#3B5998;
  width:0.62em;
  height:0.9em;
  border-radius:0.5em 0.5em 0 0;
  transition:background-color 0.3s ease-in-out
}

.postLike:before {
  transform:rotate(-45deg);left:0.6em;top:0.4em;
}
.postLike:after {
  transform:rotate(45deg);top:0.4em;left:0.81em;
}
.postLike:hover {
  background-color:#3B5998;color:#d0d5d9
}
.postLike:hover:before, .postLike:hover:after {
  background-color:#d0d5d9
}
.postLike:focus {
  outline:none;color:#fff;background-color:#3B5998
}
.postLike:focus:before, .postLike:focus:after {
  background-color:#fff
}